header ul li{
  display: inline-block;
  vertical-align: middle;
  padding: 0px 15px;
}

header ul li a{
  text-decoration: none;
  color: black;
  height: 0;
}

header ul li a:hover{
  text-decoration: underline;
}

.container_nav{
  width: 50%;
  float: left;
  padding: 20px 0px;
}

.container_nav_right{
  width: 50%;
  float: right;
  text-align: right;
  line-height: 29px;
  padding: 20px 0px;
}

.btn_blue{
  color: white;
  background-color:#0061FF;
  padding: 7px 16px;;
  text-decoration: none;
}

.btn_blue:hover{
  box-shadow: 3px 3px 8px black;
}

.container_fixed{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  background-color: white;
}


/*
FINE NAV
*/

/*////////////////////////////////////////////////
INIZIO HERO SECTION
//////////////////////////////////////////////*/

.background_hero{
  background-color: #B4D0E7;
}

.hero_text{
  padding-bottom: 40px;
}
  
.hero_container{
  margin-top: 70px;
  position: relative;
  top: 70px;
}

.container_large{
  max-width: 1367px;
  margin: auto;
  padding: 0;
} 

.hero_title{
  font-size: 77px;
  padding-bottom: 50px;
}

.padding_top{
  padding-top: 15px;
  padding-bottom: 35px;
}

.Img_hero{
  width: 100%;
}

.icon-arrow{
  font-size: 50px;
  animation: arrow infinite 4s linear;
  position: relative;
}

@keyframes arrow{
  0%   {top: 0px;}
  25%  {top: 0px;}
  75%  {top: 100px}
  100% {top: 0px;}
}

/*FINE HERO SECTION*/


/*iNIZIO MAIN */

.box_conteiner{
  max-width: 1010px;
  margin: auto;
  padding: 0;
}

.title_main{
  padding-top: 120px;
  padding-bottom: 60px;
  padding-left: 20px;
}

.Input_label{
  padding-right: 40px;
  display: inline-block;
  padding-bottom: 40px;
  padding-left: 20px;
}
 
.Radio{
  display: inline-block;
}

/*Inizio tabella */


.container_col_1{
  border: 1px solid lightgray;
  padding-left: 20px;
  padding-top: 56px;
  min-height: 1150px;
  margin-bottom: 29px
}

.container_col_1 ul li {
  list-style: none;
  padding: 12px 20px;
}

.true{
  margin-left: -20px;
}

.Singol{
  text-align: center;
  padding: 10px;
  border: 1px solid lightgray;
}

.prezzo{
  padding: 10px 0px;
}

.month{
  padding-bottom: 40px;
  color: #637381;
}

.btn_table{
  padding-top: 40px;
  padding-bottom: 35px;
}
  
.title_col{
  padding-bottom: 20px;
  padding-top: 70px;
}


.container-col {
  padding-left: 20px;
  padding-right: 20px;
}

/*Fine tabella*/

.conteiner_team{
  margin: 5px 0px;
  text-align: center;
}



.icon_text-small{
  margin-left: -20px;
}


.container_enterprise{
  margin-left: 20px;
  padding: 10px 10px;
}

.conteiner_border{
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  margin: 20px 20px;
}


.img_partner{
  width: 90%;
  margin-top: 84px;
  padding-left: 20px;
  margin-bottom: 90px;
}

.container_img_partner{
  margin-top: 79px;
}
 
.btn-white_black{
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 10px 10px;
}

.btn-white_black:hover{
  box-shadow: 3px 3px 8px black;
  background: rgb(23, 184, 9);
}

.container_medium{
 padding: 0 20px;
}

.img_col_3{
  width: 79%;
  padding-top: 50px;
}

.sottitle_col{
  padding-bottom: 33px;
}


.col_1_cont{
  padding-right: 37px;
  padding-left: 0px;
}

.title-design{
  margin-top: 100px;
  padding-bottom: 40px;
}


.logo-col{
  width: 100px;
  background-color: blue;
}

/*inizio square*/

.square-container{
  width: 30%;
  float: left;
}

.conteiner-square-clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.conteiner-square-clearfix{
  padding-top: 30px;
}

.square-container > div::after{
  content: "";
  display: table;
  clear: both;
}

.square{
  float: left;
  height: calc(30vw / 2);
  width: 50%;
  position: relative;
}


.img_central-conteiner{
  width: 40%;
  float: left;
  padding: 30px;
  height: 30vh;
  overflow: auto;
}


.img_central-conteiner::after{
  content: "";
  display: table;
  clear: both;
}

.square > img{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(1);
}


.square_2{
  background-color: #a2d39b;
}

.square_3{
  background-color: #61082b;
}

.square_4{
 background-color: #0093ce; 
}

.square_5{
  background-color: #ff1c1c;
}

.square_6{
  background-color: rgba(180,208,231,255);
}

.square_7{
  background-color: #0d2481;
}

.square_8{
  background-color: rgba(255,216,48,255);
}

.img_central{
  width: 20%;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}

.text_img-central{
  padding-top: 80px;
  font-family: Open sans;
}
             /*fine square*/



.title_porta{
  padding-top: 100px;
  padding-bottom: 100px;
  color: #61082b;
  
}

.btn_title-porta{
  background-color: white;
  margin-left: 20%;
}

.btn_cont{
  margin-top: 107px;
}

/*Inizio accordium*/

.accordium-container{
  padding-top: 100px;
}

.accordium-item h4{
  padding: 20px 0;
  font-weight: bold;
  padding-right: 60px;
}

.accordium-item{
  padding-top: 70px;
  position: relative;
  border-bottom: 1px solid lightgray;
  list-style: none;
}

.accordium-item-content{
  margin-bottom: 20px;
  display: none;
}

.accordium-item:focus .accordium-item-content{
  display: block;
}

.accordium-icon{
  position: absolute;
  right: 20px;
}

/*Fine accordium*/

/*Fine main*/

/*Inizio footer*/

.background_footer{
  background-color: black;
  margin-top: 100px;
}

.background_footer ul li a{
  color: white;
  list-style: none;
  text-decoration: none;
}

.conteiner_footer{
  padding-top: 100px;
  padding-bottom: 100px;
}

.Title_footer{
  padding-bottom: 15px;
}

.final-footer{
  color: #d3d3d37a;
  border-top: 1px solid #d3d3d37a;
  display: inline-block;
  padding-top: 40px;
}

.icon_footer{
  color: #d3d3d37a;
}

/*Fine footer*/





