header ul li{
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

header ul li a{
  text-decoration: none;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
}

.container_nav{
  width: 50%;
  float: left;
  padding: 20px 20px;
}

.container_nav_right{
  width: 50%;
  float: right;
  text-align: right;
  line-height: 29px;
  padding: 20px 20px;
}

.btn_blue{
  color: white;
  background-color:#0061FF;
  padding: 6px 15px;;
  text-decoration: none;
}

.container_fixed{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}


/*
FINE NAV
*/

/*////////////////////////////////////////////////
INIZIO HERO SECTION
//////////////////////////////////////////////*/

.background_hero{
  background-color: #B4D0E7;
}
  
.hero_container{
  margin-top: 140px;
  font-family: Open sans;
  position: relative;
}

.container_large{
  max-width: 1367px;
  margin: auto;
  width: auto;
} 

.hero_title{
  font-size: 77px;
  padding-bottom: 50px;
}

.paddint_top{
  padding-top: 15px;
  padding-bottom: 35px;
}

.Img_hero{
  width: 100%;
}


/*FINE HERO SECTION*/


/*iNIZIO MAIN */

.box_conteiner{
  max-width: 1010px;
  margin: auto;
  width: 100%;
  font-family: Open sans;
}

.title_main{
  font-size: 40px;
  ;
}


 



  




