* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row::after{
  content: "";
  display: table;
  clear: both;
 
}

[class*="col_"]{
  float: left;
}

.col_1{
  width: calc(100% / 9);
}

.col_2{
  width: calc(100% / 9 * 2);
}

.col_3{
  width: calc(100% / 9 * 3);
}

.col_4{
  width: calc(100% / 9 * 4);
}

.col_5{
  width: calc(100% / 9 * 5);
}

.col_6{
  width: calc(100% / 9 * 6);
}

.col_9{
  width: calc(100% / 9 * 9);
}

.col_7{
  width: calc(100% / 9 * 7);
}

.text_small{
  font-size: 16px;
  padding-bottom: 40px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 25px;
}

h4{
  font-size: 16px;
}